/* Estilos personalizados */

/* Estilos para el título */
h1 {
    color: #333;
    font-family: 'Arial', sans-serif;
    font-weight: bold;
  }
  
  /* Estilos para el formulario */
  .form-group label {
    color: #333;
    font-family: 'Arial', sans-serif;
    font-weight: bold;
  }
  
  /* Estilos para el botón */
  .btn-primary {
    background-color: #007bff;
    border-color: #007bff;
  }
  
  .btn-primary:hover {
    background-color: #0056b3;
    border-color: #0056b3;
  }
  
  .btn-primary:focus,
  .btn-primary.focus {
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5);
  }
  
  /* Estilos para las técnicas */
  #tecnicas-container p {
    color: #333;
    font-family: 'Arial', sans-serif;
  }
  